.bgCard {

    box-shadow: #283593;
    box-shadow: 0px 5px 10px #88888841;
    border-radius: 10px;
    padding: 15px;
}

.bgCard:hover {
    background-color: rgba(29, 144, 238, 0.137);

}

.default {
    border-left: 15px solid;
    border-color: rgb(17, 138, 17);
    background-color: rgba(17, 138, 17, 0.144);
}